<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>NuovoProgettoWeb</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Persona</display-name>
		<servlet-name>Persona</servlet-name>
		<servlet-class>it.ats.hibernate.Persona</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Conto</display-name>
		<servlet-name>Conto</servlet-name>
		<servlet-class>it.ats.hibernate.Conto</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Associazione</display-name>
		<servlet-name>Associazione</servlet-name>
		<servlet-class>it.ats.hibernate.Associazione</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Persona</servlet-name>
		<url-pattern>/Persona</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>Conto</servlet-name>
		<url-pattern>/Conto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Associazione</servlet-name>
		<url-pattern>/Associazione</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<listener>
	<description>Session Factory Listener</description>
	<display-name>SessionFactoryListener</display-name>
		<listener-class>it.ats.hibernate.SessionFactoryListener</listener-class>
	</listener>
	
	<resource-ref>
		<description>MySQL Hibernate JNDI Datasource</description>
		<res-ref-name>jdbc/TestDb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>